* text=auto !eol
/Aggregate.php -text
/Auth.php -text
/AutoLoad.php -text
AutoLoad/Interface.php -text
AutoLoad/Rule/SFMFramework.php -text
AutoLoad/Rule/SFMProject.php -text
/Business.php -text
/Cache.php -text
Cache/Dummy.php -text
Cache/File.php -text
Cache/Memory.php -text
Cache/Session.php -text
Cache/Transaction.php -text
/Config.php -text
/ContentGenerator.php -text
/Controller.php -text
Controller/Front.php -text
Controller/Request.php -text
Controller/Router.php -text
Controller/Router/URLParser.php -text
/Counter.php -text
/DB.php -text
/DTO.php -text
/Entity.php -text
/Exception.php -text
Exception/Aggregate.php -text
Exception/Autoload.php -text
Exception/Back.php -text
Exception/Config.php -text
Exception/Controller.php -text
Exception/Csrf.php -text
Exception/DB.php -text
Exception/LazyLoad.php -text
Exception/Mapper.php -text
Exception/Memcached.php -text
Exception/NotImplemented.php -text
Exception/PageNotFound.php -text
Exception/Redirect.php -text
Exception/Template.php -text
Exception/View.php -text
/IdentityMap.php -text
Interface/Singleton.php -text
/Mapper.php -text
/Monitor.php -text
Monitor/Dummy.php -text
Monitor/Dummy/Timer.php -text
Monitor/Factory.php -text
Monitor/Interface.php -text
Monitor/Pinba.php -text
Monitor/Pinba/Timer.php -text
Monitor/TimerInterface.php -text
Monitor/Zend.php -text
Monitor/Zend/Timer.php -text
Performance/Monitor.php -text
Performance/Timer.php -text
/Template.php -text
/Transaction.php -text
Util/File.php -text
Util/Image.php -text
Util/Upload.php -text
/Value.php -text
Value/Abstract.php -text
/XML.php -text
